@page "/forgotPW"

@layout LoginLayout
@using MiasHR.Models.DTOs
@using Microsoft.AspNetCore.Components
@using MiasHR.Web.Services.Contracts
@using System.Text.RegularExpressions

@inject NavigationManager NavigationManager
@inject HttpClient httpClient
@inject AuthenticationStateProvider AuthStateProvider
@inject ILocalStorageService LocalStorage
@inject IConfiguration Configuration

<PageTitle>Forgot Password</PageTitle>

<MudPaper Class="pa-5 m-5">
    <MudForm @ref="form" @bind-IsValid="@success" @bind-Errors="@errors">
        @*Check *@
        <MudTextField T="string" Label="User Email" HelperText="Use your Company Email" @bind-Value="userCredentials.Username"
                      InputType="@emailInput" Validation="@(new Func<string, IEnumerable<string>>(EmailValidation))" Required="true"
                      RequiredError="Type your Company Email!" />
        <MudTextField T="DateTime" Format="yyyy-MM-dd" Label="Birth Date" InputType="InputType.Date" Required="true" @bind-Value="birth"
                      RequiredError="Type your Birth Date!" />
        <div class="d-flex m-2 align-center justify-space-between">
            <MudButton OnClick="HandleRegist" Variant="Variant.Filled" Color="Color.Primary" Disabled="@(!success)" Class="ml-auto">Validate</MudButton>
        </div>
    </MudForm>

</MudPaper>

@code {
    bool success;
    string[] errors = { };
    DateTime birth;
    MudForm? form;


}